{
  "openapi": "3.0.1",
  "info": {
    "title": "esputnik.com",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://esputnik.com"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Contacts"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Events"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Behavior tracking"
    },
    {
      "name": "Account"
    },
    {
      "name": "Site"
    }
  ],
  "paths": {
    "/api/v1/contact": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add/update a contact",
        "description": "The method is used to add a new or update an existing contact. The ID field is ignored.<br>To learn more about importing or updating contacts and their additional fields, read <a href=\"https://docs.esputnik.com/docs/importing-historical-data\">Importing historical data</a>.",
        "operationId": "addContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "channels"
                ],
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "Contact’s first name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Contact’s last name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                    "example": "Smith"
                  },
                  "channels": {
                    "type": "array",
                    "description": "The list of media channels",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Channel type",
                          "enum": [
                            "email",
                            "sms",
                            "viber",
                            "mobilepush",
                            "webpush",
                            "appinbox",
                            "widget",
                            "inapp",
                            "telegrambot"
                          ]
                        },
                        "value": {
                          "type": "string",
                          "description": "Email address, phone number or push token",
                          "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                        },
                        "device": {
                          "type": "object",
                          "properties": {
                            "appId": {
                              "type": "string",
                              "description": "Application ID",
                              "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                            },
                            "deviceModel": {
                              "type": "string",
                              "description": "Device model",
                              "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                            },
                            "os": {
                              "type": "string",
                              "description": "Device OS",
                              "example": "[\"iOS\",\"Andriod\"]"
                            },
                            "locale": {
                              "type": "string",
                              "description": "Locale (en_UK, ru_UA, ua_UA).",
                              "example": "[\"en_UK\",\"ua_UA\"]"
                            },
                            "clientVersion": {
                              "type": "string",
                              "description": "SDK version",
                              "example": "1.6.8",
                              "enum": [
                                "native",
                                "esputnik-1"
                              ]
                            },
                            "appVersion": {
                              "type": "string",
                              "description": "Mobile app version",
                              "example": "1.23.45"
                            },
                            "active": {
                              "type": "boolean",
                              "description": "Token activity flag"
                            }
                          },
                          "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                        },
                        "webPushSubscription": {
                          "type": "object",
                          "properties": {
                            "appId": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "userAgent": {
                              "type": "string"
                            },
                            "userAgentVersion": {
                              "type": "string"
                            },
                            "userAgentLanguage": {
                              "type": "string"
                            },
                            "os": {
                              "type": "string"
                            },
                            "ip": {
                              "type": "string"
                            },
                            "subscriptionPage": {
                              "type": "string"
                            },
                            "swActiveVersion": {
                              "type": "string"
                            }
                          },
                          "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                        }
                      },
                      "description": "Media channel"
                    }
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "region": {
                        "type": "string",
                        "description": "Region",
                        "example": "Occitanie"
                      },
                      "town": {
                        "type": "string",
                        "description": "City",
                        "example": "Toulouse"
                      },
                      "address": {
                        "type": "string",
                        "description": "Address",
                        "example": "Rue Imaginaire, 456"
                      },
                      "postcode": {
                        "type": "string",
                        "description": "Postal/ZIP code",
                        "example": "31000"
                      }
                    },
                    "description": "Contact's full address"
                  },
                  "fields": {
                    "type": "array",
                    "description": "Values of the additional fields for a contact",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                          "format": "int32",
                          "example": 79814
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of an additional field.",
                          "example": "textfield"
                        }
                      },
                      "description": "Additional field for a contact.",
                      "xml": {
                        "name": "field",
                        "namespace": "http://esputnik.com.ua/dto"
                      }
                    }
                  },
                  "addressBookId": {
                    "type": "integer",
                    "description": "You can get the info about catalogs using the <i>/v1/addressbooks GET</i> method",
                    "format": "int32",
                    "example": 7200
                  },
                  "id": {
                    "type": "integer",
                    "description": "Contact ID",
                    "format": "int64",
                    "example": 23456789
                  },
                  "externalCustomerId": {
                    "type": "string",
                    "description": "External contact id",
                    "example": "TV12790"
                  },
                  "contactKey": {
                    "type": "string",
                    "description": "Contact's key"
                  },
                  "groups": {
                    "type": "array",
                    "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Segment ID",
                          "format": "int32",
                          "example": 200400
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "description": "Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."
                        }
                      },
                      "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                      "xml": {
                        "name": "group",
                        "namespace": "http://esputnik.com.ua/dto"
                      }
                    }
                  },
                  "languageCode": {
                    "type": "string",
                    "description": "Language code for the contact",
                    "example": "en"
                  },
                  "timeZone": {
                    "type": "string",
                    "description": "The contact's time zone. See <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>TZ database name</a>.",
                    "example": "Europe/London"
                  }
                },
                "description": "Contact for subscription."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "xml": {
                    "name": "result",
                    "namespace": "http://esputnik.com.ua/dto"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests:<br><ul><li>Repeated request within 1 minute, or</li><li>More than 200 requests per 1 second.</li></ul>"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete contact by externalCustomerId",
        "description": "The method is used for deleting a contact identified by externalCustomerId.",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "externalCustomerId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "AB12770"
          },
          {
            "name": "erase",
            "in": "query",
            "description": "Permanent deletion of all contact data: contact profile attributes, contact activity, web- and mobile tracking. It is not possible to recover deleted data.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json; charset=UTF-8": {}
            }
          }
        }
      }
    },
    "/api/v1/contact/subscribe": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Subscribe a contact",
        "description": "The method is used for <a href=\"https://docs.esputnik.com/reference/integrating-subscription-form-via-api\">the integration of subscription forms</a>.<br/>If a contact does not exist, it is created with the non-confirmed email.<br/>If a contact exists, the contact fields are updated (except existing media channels).<br/>New contacts are created with a <b>not confirmed</b> status.<br/>",
        "operationId": "subscribeContact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "contact"
                ],
                "type": "object",
                "properties": {
                  "contact": {
                    "required": [
                      "channels"
                    ],
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "Contact’s first name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Contact’s last name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                        "example": "Smith"
                      },
                      "channels": {
                        "type": "array",
                        "description": "The list of media channels",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Channel type",
                              "enum": [
                                "email",
                                "sms",
                                "viber",
                                "mobilepush",
                                "webpush",
                                "appinbox",
                                "widget",
                                "inapp",
                                "telegrambot"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "description": "Email address, phone number or push token",
                              "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "string",
                                  "description": "Application ID",
                                  "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                                },
                                "deviceModel": {
                                  "type": "string",
                                  "description": "Device model",
                                  "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                                },
                                "os": {
                                  "type": "string",
                                  "description": "Device OS",
                                  "example": "[\"iOS\",\"Andriod\"]"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "Locale (en_UK, ru_UA, ua_UA).",
                                  "example": "[\"en_UK\",\"ua_UA\"]"
                                },
                                "clientVersion": {
                                  "type": "string",
                                  "description": "SDK version",
                                  "example": "1.6.8",
                                  "enum": [
                                    "native",
                                    "esputnik-1"
                                  ]
                                },
                                "appVersion": {
                                  "type": "string",
                                  "description": "Mobile app version",
                                  "example": "1.23.45"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Token activity flag"
                                }
                              },
                              "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                            },
                            "webPushSubscription": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "userAgent": {
                                  "type": "string"
                                },
                                "userAgentVersion": {
                                  "type": "string"
                                },
                                "userAgentLanguage": {
                                  "type": "string"
                                },
                                "os": {
                                  "type": "string"
                                },
                                "ip": {
                                  "type": "string"
                                },
                                "subscriptionPage": {
                                  "type": "string"
                                },
                                "swActiveVersion": {
                                  "type": "string"
                                }
                              },
                              "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                            }
                          },
                          "description": "Media channel"
                        }
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "region": {
                            "type": "string",
                            "description": "Region",
                            "example": "Occitanie"
                          },
                          "town": {
                            "type": "string",
                            "description": "City",
                            "example": "Toulouse"
                          },
                          "address": {
                            "type": "string",
                            "description": "Address",
                            "example": "Rue Imaginaire, 456"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "Postal/ZIP code",
                            "example": "31000"
                          }
                        },
                        "description": "Contact's full address"
                      },
                      "fields": {
                        "type": "array",
                        "description": "Values of the additional fields for a contact",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                              "format": "int32",
                              "example": 79814
                            },
                            "value": {
                              "type": "string",
                              "description": "The value of an additional field.",
                              "example": "textfield"
                            }
                          },
                          "description": "Additional field for a contact.",
                          "xml": {
                            "name": "field",
                            "namespace": "http://esputnik.com.ua/dto"
                          }
                        }
                      },
                      "addressBookId": {
                        "type": "integer",
                        "description": "You can get the info about catalogs using the <i>/v1/addressbooks GET</i> method",
                        "format": "int32",
                        "example": 7200
                      },
                      "id": {
                        "type": "integer",
                        "description": "Contact ID",
                        "format": "int64",
                        "example": 23456789
                      },
                      "externalCustomerId": {
                        "type": "string",
                        "description": "External contact id",
                        "example": "TV12790"
                      },
                      "contactKey": {
                        "type": "string",
                        "description": "Contact's key"
                      },
                      "groups": {
                        "type": "array",
                        "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Segment ID",
                              "format": "int32",
                              "example": 200400
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "description": "Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."
                            }
                          },
                          "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                          "xml": {
                            "name": "group",
                            "namespace": "http://esputnik.com.ua/dto"
                          }
                        }
                      },
                      "languageCode": {
                        "type": "string",
                        "description": "Language code for the contact",
                        "example": "en"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "The contact's time zone. See <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>TZ database name</a>.",
                        "example": "Europe/London"
                      }
                    },
                    "description": "Contact for subscription."
                  },
                  "groups": {
                    "type": "array",
                    "description": "The list of segment names where a new/updated contact will be added.",
                    "items": {
                      "type": "string",
                      "description": "The list of segment names where a new/updated contact will be added."
                    }
                  },
                  "subscriptions": {
                    "type": "array",
                    "description": "Subscription categories added for a contact.",
                    "items": {
                      "type": "string",
                      "description": "Subscription categories added for a contact."
                    }
                  },
                  "formType": {
                    "type": "string",
                    "description": "The subscription form name. It allows you to use several independent subscription forms.<br/>\nAll characters are acceptable, except: < ; ’ \\ / | \" ` ' ^ ? ! , >",
                    "example": "Newsletter subscription"
                  }
                },
                "description": "The method for double opt-in implementation. A created contact is unconfirmed.<br/>\nIt is impossible to send bulk emails to such contacts until they confirm their subscription;\nhowever, they are available for receiving important trigger messages.<br/>\nAn event will be automatically generated after this method is called.<br/>\nSending a confirmation email can be implemented using the mechanism of events and campaigns.<br/>\nWhen clicking the link in the letter, a contact becomes confirmed and available for bulk emails sending."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "emailStatus": {
                      "type": "string",
                      "enum": [
                        "NEED_CONFIRMATION",
                        "SUBSCRIBED",
                        "ALREADY_SUBSCRIBED",
                        "BLACKLISTED"
                      ]
                    },
                    "new": {
                      "type": "boolean"
                    }
                  },
                  "xml": {
                    "name": "result",
                    "namespace": "http://esputnik.com.ua/dto"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests:<br><ul><li>Repeated request within 1 minute, or</li><li>More than 200 requests per 1 second.</li></ul>"
          }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Search for contacts",
        "description": "<br>Search for contacts. The method returns max 500 results.<br> The total amount of contacts is in the <b>TotalCount</b> header.",
        "operationId": "searchContacts",
        "parameters": [
          {
            "name": "externalCustomerId",
            "in": "query",
            "description": "External contact ID",
            "schema": {
              "type": "string"
            },
            "example": 1234509876
          },
          {
            "name": "email",
            "in": "query",
            "description": "Contact's email address",
            "schema": {
              "type": "string"
            },
            "example": "example@email.com"
          },
          {
            "name": "sms",
            "in": "query",
            "description": "Contact's phone number",
            "schema": {
              "type": "string"
            },
            "example": 3801111111111
          },
          {
            "name": "firstname",
            "in": "query",
            "description": "Contact first name",
            "schema": {
              "type": "string"
            },
            "example": "John"
          },
          {
            "name": "lastname",
            "in": "query",
            "description": "Contact last name",
            "schema": {
              "type": "string"
            },
            "example": "Smith"
          },
          {
            "name": "startindex",
            "in": "query",
            "description": "The number of the first contact returned in the search results.<br/>Numbering starts at 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "maxrows",
            "in": "query",
            "description": "Maximum number of returned contacts (max 500)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Possible value is 'contactId'. Only actual for searches without conditions. By default, the date of contact update is used for the search.<br>If this parameter is used, sorting is done by contactId. Using this parameter allows you to upload contacts faster.",
            "schema": {
              "type": "string"
            },
            "example": "contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "channels": {
                        "type": "array",
                        "description": "List of media channels.<br/>You can add maximum two channels of the same type. It is necessary to specify at least one channel.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Channel type",
                              "enum": [
                                "email",
                                "sms",
                                "viber",
                                "mobilepush",
                                "webpush",
                                "appinbox",
                                "widget",
                                "inapp",
                                "telegrambot"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "description": "Email address, phone number or push token",
                              "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "string",
                                  "description": "Application ID",
                                  "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                                },
                                "deviceModel": {
                                  "type": "string",
                                  "description": "Device model",
                                  "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                                },
                                "os": {
                                  "type": "string",
                                  "description": "Device OS",
                                  "example": "[\"iOS\",\"Andriod\"]"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "Locale (en_UK, ru_UA, ua_UA).",
                                  "example": "[\"en_UK\",\"ua_UA\"]"
                                },
                                "clientVersion": {
                                  "type": "string",
                                  "description": "SDK version",
                                  "example": "1.6.8",
                                  "enum": [
                                    "native",
                                    "esputnik-1"
                                  ]
                                },
                                "appVersion": {
                                  "type": "string",
                                  "description": "Mobile app version",
                                  "example": "1.23.45"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Token activity flag"
                                }
                              },
                              "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                            },
                            "webPushSubscription": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "userAgent": {
                                  "type": "string"
                                },
                                "userAgentVersion": {
                                  "type": "string"
                                },
                                "userAgentLanguage": {
                                  "type": "string"
                                },
                                "os": {
                                  "type": "string"
                                },
                                "ip": {
                                  "type": "string"
                                },
                                "subscriptionPage": {
                                  "type": "string"
                                },
                                "swActiveVersion": {
                                  "type": "string"
                                }
                              },
                              "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                            }
                          },
                          "description": "Media channel"
                        }
                      },
                      "fields": {
                        "type": "array",
                        "description": "The values of the contact’s additional fields.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                              "format": "int32",
                              "example": 79814
                            },
                            "value": {
                              "type": "string",
                              "description": "The value of an additional field.",
                              "example": "textfield"
                            }
                          },
                          "description": "Additional field for a contact.",
                          "xml": {
                            "name": "field",
                            "namespace": "http://esputnik.com.ua/dto"
                          }
                        }
                      },
                      "addressBookId": {
                        "type": "integer",
                        "description": "Catalog ID.<br/>You can get the value using the <i> GET /v1/addressbooks</i> method.<br/>Optional parameter.",
                        "format": "int32"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add/update contacts",
        "description": "The method adds new contacts and updates existing contacts.",
        "operationId": "contactsBulkUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "contacts",
                  "dedupeOn"
                ],
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "array",
                    "description": "The list of contacts that will be added or updated (max. 3000).<br/>If this array of objects contains externalCustomerId, the search uses externalCustomerId and ignores dedupeOn.",
                    "items": {
                      "required": [
                        "channels"
                      ],
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "Contact’s first name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                          "example": "John"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Contact’s last name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                          "example": "Smith"
                        },
                        "channels": {
                          "type": "array",
                          "description": "The list of media channels",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Channel type",
                                "enum": [
                                  "email",
                                  "sms",
                                  "viber",
                                  "mobilepush",
                                  "webpush",
                                  "appinbox",
                                  "widget",
                                  "inapp",
                                  "telegrambot"
                                ]
                              },
                              "value": {
                                "type": "string",
                                "description": "Email address, phone number or push token",
                                "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                              },
                              "device": {
                                "type": "object",
                                "properties": {
                                  "appId": {
                                    "type": "string",
                                    "description": "Application ID",
                                    "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                                  },
                                  "deviceModel": {
                                    "type": "string",
                                    "description": "Device model",
                                    "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                                  },
                                  "os": {
                                    "type": "string",
                                    "description": "Device OS",
                                    "example": "[\"iOS\",\"Andriod\"]"
                                  },
                                  "locale": {
                                    "type": "string",
                                    "description": "Locale (en_UK, ru_UA, ua_UA).",
                                    "example": "[\"en_UK\",\"ua_UA\"]"
                                  },
                                  "clientVersion": {
                                    "type": "string",
                                    "description": "SDK version",
                                    "example": "1.6.8",
                                    "enum": [
                                      "native",
                                      "esputnik-1"
                                    ]
                                  },
                                  "appVersion": {
                                    "type": "string",
                                    "description": "Mobile app version",
                                    "example": "1.23.45"
                                  },
                                  "active": {
                                    "type": "boolean",
                                    "description": "Token activity flag"
                                  }
                                },
                                "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                              },
                              "webPushSubscription": {
                                "type": "object",
                                "properties": {
                                  "appId": {
                                    "type": "integer",
                                    "format": "int32"
                                  },
                                  "userAgent": {
                                    "type": "string"
                                  },
                                  "userAgentVersion": {
                                    "type": "string"
                                  },
                                  "userAgentLanguage": {
                                    "type": "string"
                                  },
                                  "os": {
                                    "type": "string"
                                  },
                                  "ip": {
                                    "type": "string"
                                  },
                                  "subscriptionPage": {
                                    "type": "string"
                                  },
                                  "swActiveVersion": {
                                    "type": "string"
                                  }
                                },
                                "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                              }
                            },
                            "description": "Media channel"
                          }
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "region": {
                              "type": "string",
                              "description": "Region",
                              "example": "Occitanie"
                            },
                            "town": {
                              "type": "string",
                              "description": "City",
                              "example": "Toulouse"
                            },
                            "address": {
                              "type": "string",
                              "description": "Address",
                              "example": "Rue Imaginaire, 456"
                            },
                            "postcode": {
                              "type": "string",
                              "description": "Postal/ZIP code",
                              "example": "31000"
                            }
                          },
                          "description": "Contact's full address"
                        },
                        "fields": {
                          "type": "array",
                          "description": "Values of the additional fields for a contact",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                                "format": "int32",
                                "example": 79814
                              },
                              "value": {
                                "type": "string",
                                "description": "The value of an additional field.",
                                "example": "textfield"
                              }
                            },
                            "description": "Additional field for a contact.",
                            "xml": {
                              "name": "field",
                              "namespace": "http://esputnik.com.ua/dto"
                            }
                          }
                        },
                        "addressBookId": {
                          "type": "integer",
                          "description": "You can get the info about catalogs using the <i>/v1/addressbooks GET</i> method",
                          "format": "int32",
                          "example": 7200
                        },
                        "id": {
                          "type": "integer",
                          "description": "Contact ID",
                          "format": "int64",
                          "example": 23456789
                        },
                        "externalCustomerId": {
                          "type": "string",
                          "description": "External contact id",
                          "example": "TV12790"
                        },
                        "contactKey": {
                          "type": "string",
                          "description": "Contact's key"
                        },
                        "groups": {
                          "type": "array",
                          "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Segment ID",
                                "format": "int32",
                                "example": 200400
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "description": "Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."
                              }
                            },
                            "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                            "xml": {
                              "name": "group",
                              "namespace": "http://esputnik.com.ua/dto"
                            }
                          }
                        },
                        "languageCode": {
                          "type": "string",
                          "description": "Language code for the contact",
                          "example": "en"
                        },
                        "timeZone": {
                          "type": "string",
                          "description": "The contact's time zone. See <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>TZ database name</a>.",
                          "example": "Europe/London"
                        }
                      },
                      "description": "Contact for subscription."
                    }
                  },
                  "dedupeOn": {
                    "type": "string",
                    "description": "The property for determining uniqueness of a contact.",
                    "enum": [
                      "email",
                      "sms",
                      "push",
                      "webpush",
                      "email_or_sms",
                      "id",
                      "externalCustomerId",
                      "fieldId"
                    ]
                  },
                  "fieldId": {
                    "type": "integer",
                    "description": "The field for determining the contact uniqueness.\nThis field is taken into account when dedupeOnProperty has the fieldId value.",
                    "format": "int64"
                  },
                  "contactFields": {
                    "type": "array",
                    "description": "The list of contacts’ fields to be updated. All the contact fields will be updated if this parameter is not specified.\nThe fields will be updated with the ‘null’ value if no data for updating is transmitted.",
                    "items": {
                      "type": "string",
                      "description": "The list of contacts’ fields to be updated. All the contact fields will be updated if this parameter is not specified.\nThe fields will be updated with the ‘null’ value if no data for updating is transmitted.",
                      "enum": [
                        "firstName",
                        "contactKey",
                        "ordersInfo",
                        "lastName",
                        "languageCode",
                        "timeZone",
                        "email",
                        "sms",
                        "mobilepush",
                        "webpush",
                        "address",
                        "town",
                        "region",
                        "externalCustomerId",
                        "postcode",
                        "firstName",
                        "contactKey",
                        "lastName",
                        "languageCode",
                        "timeZone",
                        "email",
                        "sms",
                        "mobilepush",
                        "webpush",
                        "address",
                        "town",
                        "region",
                        "externalCustomerId",
                        "postcode"
                      ]
                    },
                    "enum": [
                      "firstName",
                      "contactKey",
                      "lastName",
                      "languageCode",
                      "timeZone",
                      "email",
                      "sms",
                      "mobilepush",
                      "webpush",
                      "address",
                      "town",
                      "region",
                      "externalCustomerId",
                      "postcode"
                    ]
                  },
                  "customFieldsIDs": {
                    "type": "array",
                    "description": "The list of the custom field IDs to be updated.<br>\nThe custom fields are updated if their IDs are in this list.<br>\nThis field is required when a contact is updated",
                    "items": {
                      "type": "integer",
                      "description": "The list of the custom field IDs to be updated.<br>\nThe custom fields are updated if their IDs are in this list.<br>\nThis field is required when a contact is updated",
                      "format": "int32"
                    }
                  },
                  "groupNames": {
                    "type": "array",
                    "description": "The list of the segment names where the new/updated contacts will be added to.",
                    "items": {
                      "type": "string",
                      "description": "The list of the segment names where the new/updated contacts will be added to."
                    }
                  },
                  "groupNamesExclude": {
                    "type": "array",
                    "description": "The list of the segment names where the new/updated contacts will be excluded from.",
                    "items": {
                      "type": "string",
                      "description": "The list of the segment names where the new/updated contacts will be excluded from."
                    }
                  },
                  "restoreDeleted": {
                    "type": "boolean",
                    "description": "Choose either to restore the previously deleted contacts or not."
                  },
                  "eventKeyForNewContacts": {
                    "type": "string",
                    "description": "The event type identification key. An event of corresponding type is generated for each contact. <br>\nIf the system does not have an event type with such a key, a new event type is created. <br>\nAll characters are allowed, except < ; ’ \\ / | \" ` ' ^ ? ! , > <br>\nMax length: 100 symbols"
                  }
                },
                "description": "Multiple adding/updating contacts."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "failedContacts": {
                      "type": "array",
                      "description": "The list of contacts that can not be added/updated.<br>\nIf 1 element is found, failedContacts is an object; if multiple elements are found, failedContacts is an array.",
                      "items": {
                        "required": [
                          "channels"
                        ],
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "The contact’s first name. Numbers are not allowed."
                          },
                          "lastName": {
                            "type": "string",
                            "description": "The contact’s last name. Numbers are not allowed."
                          },
                          "channels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Channel type",
                                  "enum": [
                                    "email",
                                    "sms",
                                    "viber",
                                    "mobilepush",
                                    "webpush",
                                    "appinbox",
                                    "widget",
                                    "inapp",
                                    "telegrambot"
                                  ]
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Email address, phone number or push token",
                                  "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                                },
                                "device": {
                                  "type": "object",
                                  "properties": {
                                    "appId": {
                                      "type": "string",
                                      "description": "Application ID",
                                      "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                                    },
                                    "deviceModel": {
                                      "type": "string",
                                      "description": "Device model",
                                      "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                                    },
                                    "os": {
                                      "type": "string",
                                      "description": "Device OS",
                                      "example": "[\"iOS\",\"Andriod\"]"
                                    },
                                    "locale": {
                                      "type": "string",
                                      "description": "Locale (en_UK, ru_UA, ua_UA).",
                                      "example": "[\"en_UK\",\"ua_UA\"]"
                                    },
                                    "clientVersion": {
                                      "type": "string",
                                      "description": "SDK version",
                                      "example": "1.6.8",
                                      "enum": [
                                        "native",
                                        "esputnik-1"
                                      ]
                                    },
                                    "appVersion": {
                                      "type": "string",
                                      "description": "Mobile app version",
                                      "example": "1.23.45"
                                    },
                                    "active": {
                                      "type": "boolean",
                                      "description": "Token activity flag"
                                    }
                                  },
                                  "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                                },
                                "webPushSubscription": {
                                  "type": "object",
                                  "properties": {
                                    "appId": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "userAgent": {
                                      "type": "string"
                                    },
                                    "userAgentVersion": {
                                      "type": "string"
                                    },
                                    "userAgentLanguage": {
                                      "type": "string"
                                    },
                                    "os": {
                                      "type": "string"
                                    },
                                    "ip": {
                                      "type": "string"
                                    },
                                    "subscriptionPage": {
                                      "type": "string"
                                    },
                                    "swActiveVersion": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                                }
                              },
                              "description": "Media channel"
                            }
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "region": {
                                "type": "string",
                                "description": "Region",
                                "example": "Occitanie"
                              },
                              "town": {
                                "type": "string",
                                "description": "City",
                                "example": "Toulouse"
                              },
                              "address": {
                                "type": "string",
                                "description": "Address",
                                "example": "Rue Imaginaire, 456"
                              },
                              "postcode": {
                                "type": "string",
                                "description": "Postal/ZIP code",
                                "example": "31000"
                              }
                            },
                            "description": "Contact's full address"
                          },
                          "fields": {
                            "type": "array",
                            "description": "Values of the additional fields for a contact.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                                  "format": "int32",
                                  "example": 79814
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value of an additional field.",
                                  "example": "textfield"
                                }
                              },
                              "description": "Additional field for a contact.",
                              "xml": {
                                "name": "field",
                                "namespace": "http://esputnik.com.ua/dto"
                              }
                            }
                          },
                          "addressBookId": {
                            "type": "integer",
                            "description": "Catalog id.<br/>You can get the info about catalogs using the <i>/v1/addressbooks GET</i> method.",
                            "format": "int32"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "contactKey": {
                            "type": "string"
                          },
                          "groups": {
                            "type": "array",
                            "description": "The list of the contact’s static segments. Used for receiving contacts only.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "description": "Segment ID",
                                  "format": "int32",
                                  "example": 200400
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."
                                }
                              },
                              "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                              "xml": {
                                "name": "group",
                                "namespace": "http://esputnik.com.ua/dto"
                              }
                            }
                          },
                          "languageCode": {
                            "type": "string"
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "Time zone for a contact. See <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>TZ database name</a>"
                          },
                          "error": {
                            "type": "string",
                            "description": "Error message"
                          }
                        },
                        "description": "The list of contacts that can not be added/updated.<br>\nIf 1 element is found, failedContacts is an object; if multiple elements are found, failedContacts is an array."
                      }
                    },
                    "asyncSessionId": {
                      "type": "string",
                      "description": "Asynchronous import session ID. Used to obtain the import status using the <i>/v1/importstatus</i> method."
                    },
                    "errorMessage": {
                      "type": "string"
                    }
                  },
                  "description": "The result of multiple contacts adding/updating."
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/upload": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add/update contacts from external file",
        "description": "The method is used to import or update the contacts from an external file. The method creates new contacts and updates existing ones.",
        "operationId": "fileContactsBulkUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "dedupeOn",
                  "link"
                ],
                "type": "object",
                "properties": {
                  "dedupeOn": {
                    "type": "string",
                    "description": "The property for determining the contact uniqueness.",
                    "enum": [
                      "email",
                      "sms",
                      "email_or_sms",
                      "id"
                    ]
                  },
                  "link": {
                    "type": "string",
                    "description": "The link to a file in an external repository.</br>\n<b>File Requirements:</b><br/>\nNot empty<br/>\nDelimiters - \",\"<br/>\nMaximum size 100 MB\n<br/>\n<b>Requirement for column naming:</b><br/>\nFirst name. The following rules apply to character usage:<br/>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed <br>\nLast name. The following rules apply to character usage:<br/>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed <br>\nAddress<br/>\nRegion<br/>\nCity<br/>\nPostcode<br/>\nEmail<br/>\nSMS<br/>\nLanguage code<br/>\nTimezone<br/>\nContact ID<br/>\nAdditional info<br/>\nThe columns containing additional contact fields in a file shall be named: KEY_PROFILE.KEY_CUSTOMFIELD<br/>\nThe fields that are not found in the system remain empty (not updated).",
                    "example": "https://github.com/example-user/example-repo/blob/main/example-file.txt"
                  },
                  "groupNames": {
                    "type": "array",
                    "description": "The list of segment names where new/updated contacts will be added to.",
                    "items": {
                      "type": "string",
                      "description": "The list of segment names where new/updated contacts will be added to."
                    }
                  },
                  "groupNamesExclude": {
                    "type": "array",
                    "description": "The list of segment names where new/updated contacts will be excluded from.",
                    "items": {
                      "type": "string",
                      "description": "The list of segment names where new/updated contacts will be excluded from."
                    }
                  },
                  "restoreDeleted": {
                    "type": "boolean",
                    "description": "Add previously deleted contacts."
                  },
                  "eventKeyForNewContacts": {
                    "type": "string",
                    "description": "Event type identification key. An event of corresponding type is generated for each contact. <br>\nIf the system does not have an event type with such a key, a new event type is created. <br>\nAll characters are allowed, except < ; ’ \\ / | \" ` ' ^ ? ! , > <br>\nMax length: 100 symbols",
                    "example": "newContactweb"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "importId": {
                      "type": "string",
                      "xml": {
                        "name": "asyncSessionId"
                      }
                    },
                    "fileId": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  },
                  "xml": {
                    "name": "fileValidationResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/importstatus/{sessionId}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact import status",
        "description": "The method is used for getting the status of the contact import session by the asynchronous ID of the session.",
        "operationId": "getImportSessionStatus",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "description": "Async session identifier",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "abc23456789"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "<b>STARTED</b> - import session in queue for processing.<br/>\n<b>IMPORTING</b> - import session being processed at the moment.<br/>\n<b>FINISHED</b> - import session completed successfully.<br/>\n<b>ERROR</b> - error when processing import session."
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The status setting time in the ISO 8601 format."
                    },
                    "description": {
                      "type": "string",
                      "description": "Additional description. Optional."
                    },
                    "mapping": {
                      "type": "array",
                      "description": "The list of contact IDs created/updated as a result of the import.<br>\nAn array of \"key\" - \"value\" pairs, where the key is a contact field used to determine uniqueness, and the value is the contact ID.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dedupeValue": {
                            "type": "string",
                            "description": "A value of the field used to determine the contact uniqueness."
                          },
                          "contactId": {
                            "type": "integer",
                            "format": "int64"
                          }
                        },
                        "description": "The list of contact IDs created/updated as a result of the import.<br>\nAn array of \"key\" - \"value\" pairs, where the key is a contact field used to determine uniqueness, and the value is the contact ID."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contacts/email": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get email by contactID",
        "description": "The method is used for getting the email addresses of contacts by their contactID.",
        "operationId": "getContactEmails",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma separated contact IDs to get email addresses for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1234567890, 2345678901, 3456789012"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "If 1 element is found, results will be an object; if multiple elements are found, results will be an array.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contactId": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "email": {
                            "type": "string"
                          }
                        },
                        "description": "If 1 element is found, results will be an object; if multiple elements are found, results will be an array."
                      }
                    }
                  },
                  "xml": {
                    "name": "contactMedias",
                    "namespace": "http://esputnik.com.ua/dto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/emails/unsubscribed/add": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Add emails to unsubscribed list",
        "description": "The method is used for adding email addresses to the list of unsubscribed contacts.",
        "operationId": "addToUnsubscribed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "emails"
                ],
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "example": [
                      "example@gmail.com"
                    ],
                    "items": {
                      "type": "string",
                      "example": "[\"example@gmail.com\"]"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json; charset=UTF-8": {}
            }
          }
        }
      }
    },
    "/api/v1/emails/unsubscribed/delete": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Remove emails from unsubscribed list",
        "description": "The method is used for removing email addresses from the list of unsubscribed contacts.",
        "operationId": "deleteFromUnsubscribed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "emails"
                ],
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "example": [
                      "example@gmail.com"
                    ],
                    "items": {
                      "type": "string",
                      "example": "[\"example@gmail.com\"]"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json; charset=UTF-8": {}
            }
          }
        }
      }
    },
    "/api/v1/group/{id}/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts from a segment",
        "description": "The method is used to search for all contacts in a segment.",
        "operationId": "getGroupContacts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 201403567
          },
          {
            "name": "startindex",
            "in": "query",
            "description": "The index of the first contact returned from the search result.<br/>Numbering starts at 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "maxrows",
            "in": "query",
            "description": "Maximum number of contacts to return (max. 500)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500
            }
          },
          {
            "name": "orderByTs",
            "in": "query",
            "description": "Order by the time of addition to the segment.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "asc",
            "in": "query",
            "description": "Sort in ascending (ASC) or descending (DESC) order.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "required": [
                      "channels"
                    ],
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "Contact’s first name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                        "example": "John"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Contact’s last name. The following rules apply to character usage: <br>\n- Max length: 40 symbols. <br>- Letters from any alphabet are allowed (Unicode characters). <br>- Three words longer than 3 characters and three words with a maximum of 3 characters are allowed. <br>- Up to 3 digits are allowed. <br>- Special characters are not allowed, except for: <br>-- Apostrophes ''ʼ`´ʹʻʽʾʿˈˊˮʹ΄՚᾽᾿'‛′‵Ꞌꞌ＇ (only inside words) <br>-- Hyphen - (only inside words) <br>-- One dot at the end of words having max 3 characters. Example: Jr. <br>- Names consisting only of numbers and special characters are not allowed",
                        "example": "Smith"
                      },
                      "channels": {
                        "type": "array",
                        "description": "The list of media channels",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "Channel type",
                              "enum": [
                                "email",
                                "sms",
                                "viber",
                                "mobilepush",
                                "webpush",
                                "appinbox",
                                "widget",
                                "inapp",
                                "telegrambot"
                              ]
                            },
                            "value": {
                              "type": "string",
                              "description": "Email address, phone number or push token",
                              "example": "[\"john.smith@mail.com\",\"12345678900\",\"1a2b3c4d5e6f7g8h9i0j1k2l3m4n5o6p7q8r9s0\"]"
                            },
                            "device": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "string",
                                  "description": "Application ID",
                                  "example": "83b77a49-fc28-409b-aeaa-68c9d544ab9d"
                                },
                                "deviceModel": {
                                  "type": "string",
                                  "description": "Device model",
                                  "example": "[\"iPhone 13 Pro\",\"Samsung Galaxy S21 Ultra\"]"
                                },
                                "os": {
                                  "type": "string",
                                  "description": "Device OS",
                                  "example": "[\"iOS\",\"Andriod\"]"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "Locale (en_UK, ru_UA, ua_UA).",
                                  "example": "[\"en_UK\",\"ua_UA\"]"
                                },
                                "clientVersion": {
                                  "type": "string",
                                  "description": "SDK version",
                                  "example": "1.6.8",
                                  "enum": [
                                    "native",
                                    "esputnik-1"
                                  ]
                                },
                                "appVersion": {
                                  "type": "string",
                                  "description": "Mobile app version",
                                  "example": "1.23.45"
                                },
                                "active": {
                                  "type": "boolean",
                                  "description": "Token activity flag"
                                }
                              },
                              "description": "The data about the contact's device. Used together with the &quot;mobilepush&quot; channel type."
                            },
                            "webPushSubscription": {
                              "type": "object",
                              "properties": {
                                "appId": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "userAgent": {
                                  "type": "string"
                                },
                                "userAgentVersion": {
                                  "type": "string"
                                },
                                "userAgentLanguage": {
                                  "type": "string"
                                },
                                "os": {
                                  "type": "string"
                                },
                                "ip": {
                                  "type": "string"
                                },
                                "subscriptionPage": {
                                  "type": "string"
                                },
                                "swActiveVersion": {
                                  "type": "string"
                                }
                              },
                              "description": "The data about the web push subscription. Used together with the &quot;webpush&quot; channel type."
                            }
                          },
                          "description": "Media channel"
                        }
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "region": {
                            "type": "string",
                            "description": "Region",
                            "example": "Occitanie"
                          },
                          "town": {
                            "type": "string",
                            "description": "City",
                            "example": "Toulouse"
                          },
                          "address": {
                            "type": "string",
                            "description": "Address",
                            "example": "Rue Imaginaire, 456"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "Postal/ZIP code",
                            "example": "31000"
                          }
                        },
                        "description": "Contact's full address"
                      },
                      "fields": {
                        "type": "array",
                        "description": "Values of the additional fields for a contact",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Additional field ID.<br/>You can get the value using the <i>/v1/addressbooks GET</i> method.",
                              "format": "int32",
                              "example": 79814
                            },
                            "value": {
                              "type": "string",
                              "description": "The value of an additional field.",
                              "example": "textfield"
                            }
                          },
                          "description": "Additional field for a contact.",
                          "xml": {
                            "name": "field",
                            "namespace": "http://esputnik.com.ua/dto"
                          }
                        }
                      },
                      "addressBookId": {
                        "type": "integer",
                        "description": "You can get the info about catalogs using the <i>/v1/addressbooks GET</i> method",
                        "format": "int32",
                        "example": 7200
                      },
                      "id": {
                        "type": "integer",
                        "description": "Contact ID",
                        "format": "int64",
                        "example": 23456789
                      },
                      "externalCustomerId": {
                        "type": "string",
                        "description": "External contact id",
                        "example": "TV12790"
                      },
                      "contactKey": {
                        "type": "string",
                        "description": "Contact's key"
                      },
                      "groups": {
                        "type": "array",
                        "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "Segment ID",
                              "format": "int32",
                              "example": 200400
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "description": "Possible values: Static - simple static segment (list), Dynamic - conditional segment, Combined - composite segment."
                            }
                          },
                          "description": "The list of the static segments where the contact is present. Used only when receiving contacts.",
                          "xml": {
                            "name": "group",
                            "namespace": "http://esputnik.com.ua/dto"
                          }
                        }
                      },
                      "languageCode": {
                        "type": "string",
                        "description": "Language code for the contact",
                        "example": "en"
                      },
                      "timeZone": {
                        "type": "string",
                        "description": "The contact's time zone. See <a href='https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'>TZ database name</a>.",
                        "example": "Europe/London"
                      }
                    },
                    "description": "Contact for subscription."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/group/{id}/contacts/detach": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete from static segment",
        "description": "The method deletes contacts from a static segment by contact ids or external customer ids. If don't specify any ids, all contacts will be deleted from the segment.",
[...]
